
<!DOCTYPE html>

<head>
<link rel="stylesheet" href="/style.css">
</head>

<body bgcolor="#87CEEB">

<div>
<br>
<img src="/mm.png">

<p style="color:navy"><b>Let's play Tic Tac Toe!</b></p>

<table> 
 <tr>
  <td class="br"><%=board[0]%></td><td class="br"><%=board[1]%></td><td class="b"><%=board[2]%></td>
 </tr><tr>
  <td class="br"><%=board[3]%></td><td class="br"><%=board[4]%></td><td class="b"><%=board[5]%></td>
 </tr><tr>
  <td class="r"><%=board[6]%></td><td class="r"><%=board[7]%></td><td><%=board[8]%></td>
 </tr>
</table>

<p style="color:navy"><b>Player 1, Please choose X or O</b></p>

 <form>
  <input type="radio" name="choice" value="X" checked>X
  <br>
  <input type="radio" name="choice" value="O">O
  <br>
  <input type="submit" name="submit" />
</form> 



</div>
</body>
</html>
