
<!DOCTYPE html>

<head>
<link rel="stylesheet" href="/style.css">
</head>

<body bgcolor="#C0C0C0">

<div>
<br>
<img src="/mm.png">

<p style="color:red"><b>Lets play Tic Tac Toe!<br><%=message%><%=message%></b></p>
<p style="text-align:center"><%=message6%> </p>

<table>
	<tr>
		<td class="br"><%=board[0]%></td><td class="br"><%=board[1]%></td><td class="b"><%=board[2]%></td>
	</tr><tr>
		<td class="br"><%=board[3]%></td><td class="br"><%=board[4]%></td><td class="b"><%=board[5]%></td>
	</tr><tr>
		<td class="r"><%=board[6]%></td><td class="r"><%=board[7]%></td><td><%=board[8]%></td>
	</tr>
</table>


 
<!-- Hey Wanna play again?? -->


<form action="/replay" method="POST"> 
  <input type="radio" name="selection" value="y">Yes
  <br>
  <input type="radio" name="selection" value="n">No
  <br>
  <input type="submit" name="submit" />
</form> 



