<!-- <!DOCTYPE html>

<head>
<link rel="stylesheet" href="/style.css">
</head>

<body>
<div>
<br>
<img src="/mm.png">
player 1 is: <%=player1%> <br>
player 2 is: <%=player2%><br>
<table border=".5" style="width:30%">
  <tr>
    <td><%=board[0]%></td>
    <td><%=board[1]%></td>    
    <td><%=board[2]%></td>
  </tr>
  <tr>
    <td><%=board[3]%></td>
    <td><%=board[4]%></td>    
    <td><%=board[5]%></td>
  </tr>
  <tr>
    <td><%=board[6]%></td>
    <td><%=board[7]%></td>    
    <td><%=board[8]%></td>
  </tr>
</table> -->
<!DOCTYPE html>

<head>
<link rel="stylesheet" href="/style.css">
</head>

<body bgcolor="#87CEEB">

<div>
<br>
<img src="/mm.png">

<p style="color:navy"><b>Let's play Tic Tac Toe!</b></p>

<table> 
 <tr>
  <td class="br"><%=board[0]%></td><td class="br"><%=board[1]%></td><td class="b"><%=board[2]%></td>
 </tr><tr>
  <td class="br"><%=board[3]%></td><td class="br"><%=board[4]%></td><td class="b"><%=board[5]%></td>
 </tr><tr>
  <td class="r"><%=board[6]%></td><td class="r"><%=board[7]%></td><td><%=board[8]%></td>
 </tr>
</table>
</body>
</html>
<br>
<form action = "/move" method = "POST">
Player1, please choose a square. <br> <input type="text" name="choice">
<p><input type="submit" value="Submit Move" name="submit" /></p>
<form>









