
<!DOCTYPE html>

<head>
<link rel="stylesheet" href="/style.css">
</head>

<body bgcolor="#C0C0C0">

<div>
<br>
<img src="/mm.png">

<p style="color:red"><b>Let's play Tic Tac Toe!<br><%=message%><br><%=message5%></b></p>
<p style="color:red"><b>message2=<br><%=message2%></p>

<form action="/board" method="POST"> 

<table> 
 <tr>
  <td class="br"> <input type="radio" name="choice" value="1"><%=board[0]%></td><td class="br"> <input type="radio" name="choice" value="2"><%=board[1]%></td><td class="b"> <input type="radio" name="choice" value="3"><%=board[2]%></td>
 </tr><tr>
  <td class="br"> <input type="radio" name="choice" value="4"><%=board[3]%></td><td class="br"> <input type="radio" name="choice" value="5"><%=board[4]%></td><td class="b"> <input type="radio" name="choice" value="6"><%=board[5]%></td>
 </tr><tr>
  <td class="r"> <input type="radio" name="choice" value="7"><%=board[6]%></td><td class="r"> <input type="radio" name="choice" value="8"><%=board[7]%></td><td> <input type="radio" name="choice" value="9"><%=board[8]%></td>
 </tr>
</table>
  <input type="submit" name="submit">
 </form> 








 







