
<!DOCTYPE html>
																					
<head>
<link rel="stylesheet" href="/style.css">
</head>
<style>
p.serif {
    font-family:"Comic Sans MS", cursive, sans-serif
}
p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}
</style>
<body bgcolor="#C0C0C0"><!-- #87CEEB -->
<div>
<br>
<img src="/mm.png">

<p class="serif" "color:red"><b><%=message%></b></p>
<p class="serif" "color:red"><b><%=message4%> <%=message4%><br><%=message3%></b></p>

<table> 
 <tr>
  <td class="br"><%=board[0]%></td><td class="br"><%=board[1]%></td><td class="b"><%=board[2]%></td>
 </tr><tr>
  <td class="br"><%=board[3]%></td><td class="br"><%=board[4]%></td><td class="b"><%=board[5]%></td>
 </tr><tr>
  <td class="r"><%=board[6]%></td><td class="r"><%=board[7]%></td><td><%=board[8]%></td>
 </tr>
</table>
 

<form action="/tictactoe" method="POST"> 
  <input type="radio" name="gamemode" value="Human" checked>Human vs Human 
  <br>
 <form action="/tictactoe" method="POST">  
  <input type="radio" name="gamemode" value="Computer">Human vs Computer
</form> 

<p style="color:red"><b><%=message2%></b></p><br>
<p style="text-align:center"><%=mindchanger%> </p>

<form action="/tictactoe" method="POST"> 
  <input type="radio" name="selection" value="X" checked>X
  <br>
  <input type="radio" name="selection" value="O">O
  <br>
  <input type="submit" name="submit" />
</form> 



